.Rproj.user
.Rhistory
.Ruserdata
*.zip
R_credentials.R
data_folder/external/quotaprices
data_folder/external/*.csv
data_folder/external/*.xlsx
!data_folder/external/gis/stat_area_km.csv
*.log
*.html
/results
/R_code/inter_trades_QTR_final.R
/intermediate_results/*
images
library.bib
aceprices.pdf
*.pdf
*.doc
*.docx
*.aux
*.out
aceprices.tex
aceprices_short.tex
aceprices_ultra_condensed.tex
aceprice_appendix1.tex

